# app
aiofiles==0.6.0
fastapi==0.63.0
gunicorn==20.0.4
httptools==0.2.0
loguru==0.5.3
Jinja2==2.11.2
pytest==6.2.1
requests==2.25.1
uvicorn==0.13.3
uvloop==0.14.0
# extra
recommonmark==0.7.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1